.display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    color: #231f20;
    background-color:#eecfcd;
    font-family: Helvetica, sans;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.42105263;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
  
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #f8f8f8;
    }
  }

  header{
    width:40%;
    margin: 0 auto;
  }

  @media screen and (max-width:764px) {
    header{width:80%;}
  }

  .hero{
    width:100%;
    padding-left: 45px;
    clip-path: circle(40%);
  }
  h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    opacity: 0.8;
  }
  p{
    font-size: 16px;
    text-align: center;
  }
  